<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Predicting the Selling Price of your Car</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Car Valuation Predictor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Exploration</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Machine Learning</a></li>
                        <li class="nav-item"><a class = "nav-link" href="#Conclusion">Conclusion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Predict</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Predict the Valuation of your Car</h1>
                <p class="lead">Harsh Harwani's Data Science Crash Course Project</p>
                <a class="btn btn-lg btn-light" href="#about">See my work below</a>
                <a class="btn btn-lg btn-light" href="#team" style="margin-left:15px">Predict Now</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                      <h1 id="top-level-heading" style = "color: #0d6efd !important; text-align: center;">About</h1><br/>
                        <h2>What does the project do?
                        </h2>
                        <p class="lead">In 2018-2019, while new car sales were recorded at 3.6 million units, 4 million second-hand cars were bought and sold. This resale industry provides a vast opportunity for people to sell their cars and capitalize on them. It is very important and vital for them to know the correct price point at which they should sell the car. For my data science project, I would like to predict the estimated car valuation for users based on several parameters such as model, kilometers driven, fuel type, number of seats, etc.</p>
                      <br>
                      
                      <h2>Key characteristics of data
                      </h2>
                      <p class="lead" style="margin-top:20px">
                        <b>Sample of dataframe</b>:
                      </p>
                      <img class = "imgs" src="{{url_for('static', filename='images/df_head.png')}}"style="border:2px; border-style:solid;"/>
                       <p class="lead" style="margin-top:20px">
                        <b>Shape</b>: (8127, 12)
                      </p>
                      
                       <p class="lead" style="margin-top:20px">
                        <b>Target Feature</b>: Selling Price in Indian Rupees
                      </p>
                      <p class="lead" style="margin-top:20px">
                        <b>Categorical Features</b>: 5 (Name of Car, Fuel Type, Seller Type, Transmission, Owner Type)
                      </p>
                      <p class="lead" style="margin-top:20px">
                        <b> Numerical Features</b>: 7
                      </p>
                      
                      <p class="lead" style="margin-top:20px">
                        <b> Missing Values</b>: 2% of data i.e. 878 values spread across 4 columns
                      </p>
                      <img class = "imgs" style="width:250px; border:2px; border-style:solid;" src="{{url_for('static', filename='images/null_values.png')}}"/>
                      
                      <p class="lead" style="margin-top:20px">
                        <b> Unclean Data</b>: Engine, Max Power, and Mileage features have non-uniform data.
                       <img class = "imgs" style="width:450px; border:2px; border-style:solid;" src="{{url_for('static', filename='images/unclean_data.png')}}"/>
                      </p>
                  
<!--                        <img class = "imgs" style= "border:2px"; border-style:solid;" src="{{url_for('static', filename='histogram_of_selling_price.html')}}"/> -->
<!--                       <iframe width="800" height="800"  src="{{url_for('static', filename='histogram_of_selling_price.html')}}"></iframe> -->
                      </p>
                      
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading" style = "color: #0d6efd !important; text-align: center;">Exploration</h1><br/>
                    </div>
                   <div class="col-lg-8">
                        <h2>Skewness of Target</h2>
                        <p class="lead">To check if the target is skewed. I plotted a histogram with 75 bins and box plot. One can observe the target feature if slightly skewed to the left with a few outliers.</p>
                    <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='histogram_of_selling_price.html')}}"></iframe> <br>
                    </div>
                  <div class="col-lg-8">
                        <h2>Target vs Numerical Features</h2>
                        <p class="lead">Seeing the scatter plots, One can observe that the spread of data is very similar for all numerical variables which is a good indicator of homoscedasticity also there are a few outliers in each relationship. Furthermore, it can be seen that the data is very dense on the left side</p>
                    <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='scatterplot_selling_price_vs_numerical_features.html')}}"></iframe> <br>
                    </div>
                  <div class="col-lg-8">
                        <h2>Target vs Categorical Features</h2>
                        <p class="lead">One can observe each relationships skewness and how many outliers exist.</p>
                    <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='boxplot_selling_price_vs_categorical_features.html')}}"></iframe> <br>
                    </div>
               <div class="col-lg-8">
                        <h2>Feature Correlation</h2>
                        <p class="lead">One can say that there are a few negative correlations in the data set. We can also interpret that features like max_power and engine are highly positively correlated, which can be very intuitive - if we improve the engine of a car, the maximum power of the car would also increase. </p>
                    <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='heatmap_correlation_of_features.html')}}"></iframe> <br>
                  </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h1 style = "color: #0d6efd !important; text-align: center;">Machine Learning</h1></br>
                    </div>
                    <div class="col-lg-8">
                      <h2>Type of Machine Learning Problem:</h2>
                        <p class="lead">My project topic is "Predicting the Valuation of your Car". This is clearly a Regression problem as the target feature "Selling Price" is a continuous variable. </p>
                      <h2>
                       Baseline Models
              </h2>
                      <p class= "lead">
                        Initially, since the best way to choose a model for your use-case is trial and error, I ran 11 Regression models, namely:
                      </p>

                       
                       <ul class = "lead">
                        <li>Random Forest</li>
                        <li>XG Boost</li>
                        <li>HistGradient Boosting Regressor</li>
                        <li> Decision Treet</li>
                        <li>Gradient Boosting Regressor</li>
                        <li>Ridge Regression</li>
                        <li>Lasso Regression</li>
                        <li>ElasticNet Regression</li>
                        <li>Support Vector Regressor</li>
                        <li>KNN</li>
                        <li>Logistic Regression</li>
                      </ul>
                      <iframe width="500" height="500" title="Correlation Table of Features" src="{{url_for('static', filename='bar_graph_r_square_comparison_baseline_models.html')}}"></iframe> <br>

                      <h2>
                        Shortlisting Top 3 models
                      </h2>
                      <p class = "lead">
                        Note these were just baseline models with default parameters. I did no hyperparameter tuning whatsoever. All I wanted to know was which       models I should focus on.
                        <br>
                        <br>
                        On comparing baseline metrics, I observed <b>Random Forest</b>, <b>XGBoost</b> and <b>HistGradient Boosting Regressor</b> to have the best performance. However, since they are all tree based algorithms, to work with different types of algorithms, I decided to choose one bagging-based tree method (Random Forest), one boosting-based tree method (XGBoost), and a non-tree method (KNN).
                      </p>
              </div>

                     
                    <div class="col-lg-8">
                        <h2>Random Forest</h2>
                      <h4>
                        Explanation
                      </h4>
                        <p class="lead">It is a supervised learning algorithm. It uses ensemble methods to solve both regression and classification problems. It creates multiple decision trees during training and outputs the mean/mode of prediction of each individual tree. It acts as an estimator algorithm which aggregates the result of many decision trees and then outputs the most optimal results.</p>
                        <img src="https://assets.website-files.com/5e6f9b297ef3941db2593ba1/5f6314a3c5ba908f8f9a43a4_Screenshot%202020-09-17%20at%2009.47.26.png" style="width:550px; border:2px; border-style:solid;">
                      <h4>
                         Model 
                      </h4>
                      <p class = "lead">
                        Using RandomSearchCV with 5 cross validations, I iterated over 300 hyper-parameter combinations to find the best model hyper-parameters.
                        <li class = "lead">No. of Estimators: 50</li>
                        <li class = "lead">Minimum Sample Split: 2</li>
                        <li class = "lead">Maximum Depth: 9</li>
                      </p>
                      <h4>
                        Results
                      </h4>
                  
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='feature_importance_rf.html')}}"></iframe> <br>
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='true_selling_vs_prediction_rf.html')}}"></iframe> <br>
                      
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='error_in_selling_price_rf.html')}}"></iframe> <br>
                      
                        <h2>XG Boost</h2>
                        <h4>
                          Explanation
                        </h4>
                        <p class="lead">XG Boost is a popular and efficient gradient boosted trees algorithm. Gradient boosting is a supervised learning algorithm, which attempts to accurately predict a target variable by combining the estimates of a set of simpler, weaker models.</p>
                      <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200715105525/XGBoosting.png" style="width:550px; border:2px; border-style:solid;">
                      <h4>
                         Model 
                      </h4>
                      <p class = "lead">
                        Using RandomSearchCV with 5 cross validations, I iterated over 8 hyper-parameter combinations to find the best model hyper-parameters.
                        <li class = "lead">No. of Estimators: 50</li>
                        <li class = "lead">Learning Rate: 0.1</li>
                        <li class = "lead">Maximum Depth: 8</li>
                      </p>
                      <h4>
                        Results
                      </h4>
                  
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='feature_importance_xgboost.html')}}"></iframe> <br>
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='true_selling_price_vs_prediction_xgboost.html')}}"></iframe> <br>
                      
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='error_in_selling_price_xgboost.html')}}"></iframe> <br>
                      
                      <h2>KNN</h2>
                      <h4>
                        Explanation
                      </h4>
                        <p class="lead">The KNN algorithm uses ‘feature similarity’ to predict the values of any new data points. To start with, the distance between the new point and each training point is calculated. Then, the closest k data points are selected. Lastly, the average of these data points is the final prediction for the new point.</p>
                      <img src="https://miro.medium.com/max/990/1*3SwcOCUyVdGauhHrHvOaLA.png" style="width:550px; border:2px; border-style:solid;">
                      
                      <h4>
                         Model 
                      </h4>
                      <p class = "lead">
                        Using RandomSearchCV with 5 cross validations, I iterated over 5 hyper-parameter combinations to find the best model hyper-parameters.
                        <li class = "lead">No. of Neighbors: 5</li>
                      </p>
                      <h4>
                        Results
                      </h4>
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='true_selling_price_vs_prediction_knn.html')}}"></iframe> <br>
                      
                      <iframe width="800" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='error_in_selling_price_knn.html')}}"></iframe> <br>
                    </div>
                    
            </div>
        </section>
        <section class="bg-light" id="Conclusion">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading" style = "color: #0d6efd !important; text-align: center;">Conclusion</h1><br/>
                    </div>
                    <div class="col-lg-8">
                      
                        <h2>
                          Choosing the Best Model
                      </h2>
                      
                      <iframe width="900" height="800" title="Correlation Table of Features" src="{{url_for('static', filename='comparison_top_3_algos.html')}}"></iframe> <br>
                      

                        <p class="lead">XGBoost outperforms Random Forest and KNN with respect to all four metrics. It has the lowest MSE, MAE, and RMSE. Furthermore, its R Squared score is the closest to 1.
                          <br>
                          <br>
                          In conclusion, XGBoost clearly performs the best on our data set for predicting the valuation of a car.
This model has proved that the valuation of a car can be predicted using several features such as Max Power, Age of the Car, Engine Type, etc.</p>

                        <h2>So what?</h2>
                            
                        <p class="lead">So what is the significance of our project? Because we know which features are highly correlated to a higher selling price, we can identify the factors that could lead to higher monetary value, also predict the selling price of the car couple of years down the line estimating how much did the car actually cost after we sell it. <br><br>
                      Two ways to improve model and extend the project:
                          <li class = "lead">Create a hybrid model using two or more algorithms</li>
                          <li class = "lead">Try out Neural Networks</li>
</p>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-left: 80px; margin-right: 80px;" id="team">
        <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading" style = "color: #0d6efd !important; text-align: center;">Predict The Valuation of your Car!</h1><br/>
                    </div>
                    <div class="col-lg-8">
                  </div>
                
                      
          <form action="" method="post">
    	        <input type="text" name="year" placeholder="Age of Car (in years)" required="required" />
              <input type="text" name="km_driven" placeholder="Kilometers Driven"       required="required" />
		        <input type="text" name="mileage" placeholder="Mileage" required="required" />
            <input type="text" name="engine" placeholder="Engine" required="required" />
            <input type="text" name="max_power" placeholder="Max Power" required="required" />
            <input type="text" name="seats" placeholder="No. of Seats" required="required" />
            <input type="text" name="fuel_CNG" placeholder="CNG Vehicle? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>CNG Vechicle</option>
  <option value=1>Yes</option>
  <option value=0>No</option>
</select> -->
            <input type="text" name="fuel_DIESEL" placeholder="Diesel Vehicle? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Diseal Vechicle</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="fuel_LPG" placeholder="LPG Vehicle? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>LPG Vechicle</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="fuel_PETROL" placeholder="Petrol Vechicle? (1 or 0)" required="required" />
<!--             <select  class="form-select" aria-label="Default select example">
  <option selected>Petrol Vechicle</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="seller_type_dealer" placeholder="Dealer? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Dealer Seller</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="seller_type_individulal" placeholder="Individulal? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Individual Seller</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="seller_type_Trustmaker_Dealer" placeholder="TrustMakerDealer? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Trustmaker Seller</option>
  <option value="1">Yes</option>
  <option value="0">No</option> 
</select>-->
            <input type="text" name="transmission_automatic" placeholder="Automatic Transmission? (1 or 0)" required="required" />
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Automatic Transmission</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
<!--             <select class="form-select" aria-label="Default select example">
  <option selected>Manual Transmission</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
            <select class="form-select" aria-label="Default select example">
  <option selected>First Owner</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
            <select class="form-select" aria-label="Default select example">
  <option selected>Fourth Owner or Above</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
            <select class="form-select" aria-label="Default select example">
  <option selected>Second Owner</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
            <select class="form-select" aria-label="Default select example">
  <option selected>Test Drive Offered</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
            <select class="form-select" aria-label="Default select example">
  <option selected>Third Owner</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select> -->
            <input type="text" name="transmission_manual" placeholder="Manual Transmission? (1 or 0)" required="required" />
            <input type="text" name="owner_first_owner" placeholder="First Owner? (1 or 0)" required="required" />
            <input type="text" name="owner_fourth_above" placeholder="Owner Fourth of Above? (1 or 0)" required="required" />
             <input type="text" name="owner_second_owner" placeholder="Second Owner? (1 or 0)" required="required" />
            <input type="text" name="owner_test_drive" placeholder="Test Drive Allowed? (1 or 0)" required="required" />
            <input type="text" name="owner_third_owner" placeholder="Third Owner? (1 or 0)" required="required" />
            
            <br>
            <br>
        <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-left: 525px; text-align:center">Predict Car Price</button>
    </form>
          
          <br>
           <br>
                             <br>
                             <br>
                  
           {% if prediction_text %}
           <p class= "lead" style="margin-left:700px; margin-top: 2rem;"><b>
             The Predicted Valuation of your Car is  {{ prediction_text }}!
                 </b> </p>
                  
          {% endif %}
              
          
          </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; AI Camp 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
2>